<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>servlet.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixQuestionnaire</servlet-name>
        <servlet-class>servlet.ChoixQuestionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Warning</servlet-name>
        <servlet-class>servlet.Warning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasserQuestionnaire</servlet-name>
        <servlet-class>servlet.PasserQuestionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerQuestionnaire</servlet-name>
        <servlet-class>servlet.CreerQuestionnaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesQuestionnaires</servlet-name>
        <servlet-class>servlet.MesQuestionnaires</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesResultats</servlet-name>
        <servlet-class>servlet.MesResultats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/Accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixQuestionnaire</servlet-name>
        <url-pattern>/ChoixQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Warning</servlet-name>
        <url-pattern>/Warning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasserQuestionnaire</servlet-name>
        <url-pattern>/PasserQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerQuestionnaire</servlet-name>
        <url-pattern>/CreerQuestionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesQuestionnaires</servlet-name>
        <url-pattern>/MesQuestionnaires</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesResultats</servlet-name>
        <url-pattern>/MesResultats</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
